/* font-family: 'Bungee Shade', cursive; */

body{
    background-color: #f0f0f0;
}

/* keeps everything center */
ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width:100%
}

.title{
    background-color: rgb(255, 199, 77);
    border-radius: 0.5rem;
    padding:0.5rem;
    width:fit-content;
    text-align: center;
    margin: 2rem auto;
    font-family:'Bungee Shade', cursive;
    color: rgba(0,0,0,1);
}

/* will align inline classes next to each other */
.inline {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items:center;
    width:100%
    
}

.size {
    width:60%;
}

.colour {
    font-size: 1rem;
    font-weight: 500;
    color:black;
}
